.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.intro-left{
    display: flex;
    position: relative;
    flex: 1;
}

.intro-name{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.intro-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.intro-right >img {
    height: 60vh;
}

.intro-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.intro-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.intro-name>:nth-child(3){
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}

.intro-btn{
    width: 6rem;
    height: 2rem;
}

.intro-social-icon{
    display: flex;
    margin-top: 0.5rem;
    gap: 1rem;
    
}

.intro-social-icon > img {
    width: 30px;
    height: 30px;
}
.intro-social-icon > img:hover{
    cursor: pointer;
}